

#footer {

  a {
    color: @brand-complement1;
  }
  background: #333;
  color: #ddd;
  border-color: transparent;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 1.5em;
  padding: 1em;
  border-radius: 0;
  text-shadow: 1px 0px 3px rgba(0,0,0,0.7);
  text-transform: uppercase;
  p {
    color: #999;
    margin: 0;
    line-height: 1;
    font-weight: normal;
  }

  .copyright {
    .pull-right;
  }
  background-image: url('../img/escheresque_ste.png');
}

