@import "bootstrip.less";
@import "fonts.less";
@import "lesshat-prefixed.less";

.navbar {
    a {
      color: @brand-complement1;
    }
    border: none;
    background: #333;
    color: #666;
    border-bottom: 1px solid #999;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-radius: 0;
    text-shadow: 1px 0px 3px rgba(0,0,0,0.7);

    text-transform: uppercase;
  .navbar-brand { 
    font-family: 'Exo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: @biggest;
    margin-right: 0;
  }
  .navbar-text {
    color: #999;
    line-height: 1;
    font-size: @big;
    padding-left: 0;
    margin-left: 0; 
    font-weight: normal;
  }
  .navbar-nav {
    li.active a, a:hover {
      color: @brand-complement1;
      background-color: rgba(0, 0, 0, 0.5);
    }
    li.active a {
      color: lighten(@brand-complement1, 20%);
    }

  }

}

.navbar,
.fullscreen-img {
    display:block;
    position:relative;
    min-width:100%;
    min-height:200px;
}

.navbar .fullscreen-img {
    display:block;
    position:absolute;
    z-index:1;
  background: url('/img/header/succulent2.jpg') center center no-repeat;
  background-size:cover;
  max-height: 450px;
}
.navbar .overlay {
    margin-top: 2em;
    display:block;
    position:relative;
    z-index:2;
   background: rgba(0, 0, 0, 0.5);
}

