@import "bootstrip.less";
@import "fonts.less";

header.logo {
    margin: 1.5em 0;

    .clearfix;
    background: #333;
    color: #ddd;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 1em;

    text-transform: uppercase;
  h1 { 
    .pull-left;
    font-family: 'Exo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1;
    margin: 0.5em;
  }
  .menu {
    margin: 1em;
    .pull-right;
    :hover {
      background: rgb(255, 255, 255, 0.3);
    }
  }

}

header.logo {
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top,  #333333 0%, #444444 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#444444)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #333333 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #333333 0%,#444444 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #333333 0%,#444444 100%); /* IE10+ */
  background: linear-gradient(top,  #333333 0%,#444444 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
  background-image: url('../img/escheresque_ste.png');
}

