// hello world
@import "bootstrip.less";
@import "pygments.css";
@import "carousel.css";
@import "header.less";
@import "lesshat.less";
@import "footer.less";
@import "print.less";

.portfolio {
  h2 {
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5em;

   };
  .page-title {
    margin-top: 0;

  }
  header, section { margin-bottom: 1em; }
  .label {
     text-transform: uppercase;
     border: 1px solid @label-info-border;
  }
  small { white-space: nowrap; }
  h3, h4 { line-height: 1 }
  .excerpt { display: none; }

  .expand { display: none; }

  .about .img-wrapper {
    margin: 0;
  }
  table.table-condensed tr:first-child {
    td, th { border-top: 0; }
  }
  .links li { white-space: nowrap; width: 9em; }

    .tags {
      .hidden-print;
    }

}

img.avatar { box-shadow: 0 0 2px #444; border-radius: 4px; }

.sidebar .about {
  .bs-callout;
  .bs-callout-info;
}
.img-wrapper {
  margin: 0.5em 1em;
  overflow: hidden;
  display: block;
  border: 1px solid #444;
  max-width: 800px;
  box-shadow: 0 0 2px #444;
  border-radius: 4px;
  margin: 1em auto;

  img {
    width: 100%;
  
  }
}
body { background: url('/build/img/dimension.png');}

section.posts, section.content {
  h2 { 
      line-height: 1;
      margin-bottom: 20px;
      margin-top: 10px;
    }
  h2 small { white-space: nowrap; }
}
a:hover {
  text-decoration: none;
}
div.container { 
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 0 20px; 
   box-shadow: 0 1px 5px #444;
   border-radius: 4px;
 }

div.container {
   background: #fefefe; /* Old browsers */
   background: -moz-linear-gradient(top,  #fefefe 0%, #f6f6f6 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #fefefe 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #fefefe 0%,#f6f6f6 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #fefefe 0%,#f6f6f6 100%); /* IE10+ */
   background: linear-gradient(top,  #fefefe 0%,#f6f6f6 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
 }

 div.container footer { 
    margin-bottom: 10px;
 }


/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 26px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}


 
/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
