// hello world
@import "bootstrip.less";
@import "pygments.css";
@import "carousel.css";
@import "header.less";
@import "lesshat.less";
@import "footer.less";
@import "print.less";

.portfolio {
  h2 {
    border-bottom: 1px solid #eee;
    margin-bottom: 0.5em;

   };
  .page-title {
    margin-top: 0;

  }
  header, section { margin-bottom: 1em; }
  .label {
     text-transform: uppercase;
     border: 1px solid @label-info-border;
  }
  small { white-space: nowrap; }
  h3, h4 { line-height: 1 }
  .excerpt { display: none; }

  .expand { display: none; }

  .about .img-wrapper {
    margin: 0;
  }
  table.table-condensed tr:first-child {
    td, th { border-top: 0; }
  }
  .links li { white-space: nowrap; width: 9em; }

    .tags {
      .hidden-print;
    }

}

img.avatar { box-shadow: 0 0 2px #444; border-radius: 4px; }

.sidebar .about {
  margin-left: 19px;
  .bs-callout;
  .bs-callout-info;
}

.sidebar .latest {
  margin-left: 19px;
  li {

  margin-left: -19px;
    margin-bottom: 4px;
  }
  li a {
    border-left: 4px solid #f3f3f3;
    &:hover {
      border-left: 4px solid #aaa;
    }
  }
}
.img-wrapper {
  margin: 0.5em 1em;
  overflow: hidden;
  display: block;
  border: 1px solid #444;
  max-width: 800px;
  box-shadow: 0 0 2px #444;
  border-radius: 4px;
  margin: 1em auto;

  img {
    width: 100%;
  
  }
}
.iframe-wrapper {
  .img-wrapper;
  padding: 0;
  iframe {
    width: 100%;
  }
}

section.posts, section.content {
  dl dd {
    margin-left: 1em;
    margin-bottom: 0;
  }
  h2 { 
      line-height: 1;
      margin-bottom: 20px;
      margin-top: 10px;
    }
  h2 small { white-space: nowrap; }
  h3, h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
   };

  .bs-callout {
    h3, h4 {
      margin-top: 0;
    }
    .bs-callout {
      margin-left:2em;
      margin-bottom: 2em;
    }
    h3, h4 {
      border-bottom: 0;
    }
    .img-container {
      display: block;
    }
    img {
      padding-left: 1em;
    }
  };
  iframe.youtube {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
a:hover {
  text-decoration: none;
}
#main { 
   padding: 0 20px;
   background: #fff;
   a:hover {
     color: #FF5600;
   }
 }
body {
  .background-image(linear-gradient(to bottom, #ffffff 0%,#efefef 100%))
  
 }



/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 26px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}


 
/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}
