---
title: The Musings of Adrian Rossouw
layout: default
---
{% assign base = site.baseurl %}
{% capture article_count %}{{site.categories.post | size}}{% endcapture %}
{% capture offset %}{{paginator.page | minus: 1 | times:paginator.per_page }}{%endcapture%}

<section class='posts col-md-8'>
  {% for article in site.categories.post limit:paginator.per_page offset:offset %}
    {% if forloop.index > 1 %}
      <hr class='soften' />
    {%else%}
      {% assign on_this_page = forloop.length %}
    {% endif %}

  <article>
      <header>
        <h2><a href='{{article.url}}'>{{article.title}}</a> <small>{{article.date | date:"%d %B %Y"}}</small></h2>
      </header>
      <section class='content'>
      {{article.excerpt}}
      {% if with_break != article.content %}
      </section>
      <p><a href='{{article.url}}' class='btn btn-default pull-right'>Read more →</a></p>
      {%endif%}
  </article>
  {% endfor %}

  {% capture more_to_show %}{{article_count | minus:offset | minus: on_this_page}}{% endcapture %}
  <hr class='soften' />

  <ul class="pager">
    {% if paginator.page > 1%}
    <li class="previous">
    {% if paginator.previous_page > 1 %}
        <a href="{{base}}page{{paginator.previous_page}}">&larr; Newer</a>
      {% else %}
        <a href="{{base}}">&larr; Newer</a>
      {%endif%}
    </li>
    {% endif %}

    {% if more_to_show != '0' %}
    <li class="next">
      <a href="{{base}}page{{paginator.next_page}}">Older &rarr;</a>
    </li>
    {% endif %}
  </ul>
</section>
<nav class='sidebar col-md-4'>
  {% include sidebar.html %}
</nav>

