---
---
{% assign base = site.baseurl %}

{% include css/bootstrap.min.css %}
{% include css/pygments.css %}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Maven Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  color:#446;
}

body, p {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 24px; 
  color: #668;
}

.alert p { color: inherit; margin: 0; }
.alert a { font-weight: bold;color: #16759E; }

.portfolio h2 { border-bottom: 1px solid #eee; margin-bottom: 0.5em; }
.portfolio h3, .portfolio h4 { line-height: 1 }
.portfolio header, .portfolio section { margin-bottom: 1em; }
.portfolio .label { text-transform: uppercase; }
.portfolio small { white-space: nowrap; }

img.avatar { box-shadow: 0 0 2px #444; border-radius: 4px; }

.carousel { margin-bottom: 0; }

.img-wrapper, 
.carousel-wrapper {
  overflow: hidden;
  border: 1px solid #444;
  margin: 0.5em auto;
  width: 500px;
  max-height: 339px;
  box-shadow: 0 0 2px #444;
  border-radius: 4px;
}
.img-wrapper {
  display: block;
  width: 600px;
}

h1 { font-size: 38px; }
h2 { font-size: 28px; }
h3 { font-size: 18px; line-height: 26px; }
h4 { font-size: 16px; line-height: 30px; }

img { max-width: 620px }
body { background: url('{{base}}img/gplaypattern.png');}

section.posts h2, section.content h2 { line-height: 1; margin-bottom: 20px }
section.posts h2 small, section.content h2 small { white-space: nowrap; }

div.container { 
   margin-top: 10px;
   margin-bottom: 10px;
   padding: 0 20px; 
   box-shadow: 0 1px 5px #444;
   border-radius: 4px;
 }

div.container {
   background: #fefefe; /* Old browsers */
   background: -moz-linear-gradient(top,  #fefefe 0%, #f6f6f6 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #fefefe 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #fefefe 0%,#f6f6f6 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #fefefe 0%,#f6f6f6 100%); /* IE10+ */
   background: linear-gradient(top,  #fefefe 0%,#f6f6f6 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
 }

 div.container footer { 
    margin-bottom: 10px;
 }

header.logo { margin: 1.5em 0; }
header.logo h1 { 
  font-family: 'Exo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1;
}


/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 26px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

header .about {
  background: #333;
  color: #ddd;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-top: 1em;
  width: 980px;
  margin-left: -20px;
  margin-bottom: 1em;
}
.about-inner {
  margin-left: 0;
}
header .about {
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top,  #333333 0%, #444444 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#444444)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #333333 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #333333 0%,#444444 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #333333 0%,#444444 100%); /* IE10+ */
  background: linear-gradient(top,  #333333 0%,#444444 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
}

header .about img.avatar {
  margin-right: 20px;
  max-height: 120px;
}
header .about p { color: #ddd }

