{% if forloop.index > 1 %}<hr class='soften' />{% endif %}
<article class='job'>
  <header>
  <h3>{{job.title}}
    <small>

    {{job.date | date:"%B %Y"}} -
    {% if job.end_date %}
      {{job.end_date | date:"%B %Y"}}
    {% else %}
      Present
      {% endif %}
  </small></h3>

  {% if job.tech %}
  <footer>
    {% for tech in job.tech %}
      <span class='label label-default label-inverse'>{{ tech }}</span>
    {% endfor %}
    </footer>
  {% endif %}

  </header>

  {% if job.excerpt %}
  {{job.excerpt}}
  {% else %}
  {{job.content}}
  {% endif %}

</article>
