<!-- Begin MailChimp Signup Form -->
<div class='bs-callout bs-callout-info'>
    <h3>Keeping up to Date</h3>
    You can <a href='http://twitter.com/AdrianRossouw'>follow me on twitter</a>, <a href='/feed.xml'>subscribe via RSS</a>, or sign up to my mailing list below.
        
<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
    #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
    #mc_embed_signup input.email { width: 100% }
</style>
<div id="mc_embed_signup">
<form action="http://daemon.us8.list-manage1.com/subscribe/post?u=92dc692e77d8b10026b293e82&amp;id=706d093710" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_92dc692e77d8b10026b293e82_706d093710" value=""></div>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
</form>
</div>
</div>
<!--End mc_embed_signup-->
