{% assign base = site.baseurl %}
{% if forloop.index > 1 %}<hr class='soften' />{% endif %}

<article class='project'>
<header>
  <h3>
  {% if project.link %}
    <a href='{{project.link}}'>{{project.title}}</a>
  {% else %}
    {{project.title}}
  {% endif %}
  <small>{{project.date | date:"%B %Y"}}
      {% if project.ongoing %} - Present
      {% elsif project.end_date %} - {{project.end_date | date:"%B %Y"}}
      {% endif %}
  </small></h3>
  
  {% if project.tech %}
    {% for tech in project.tech %}
      <span class='label label-default label-inverse'>{{ tech }}</span>
    {% endfor %}
  {% endif %}


  </header>
  {% if project.images.size > 1 %}
    <div class='roundabout-wrapper'>
      <ul class='roundabout clearfix'>
        {% for img in project.images %}
        <li><div class='slide-wrapper'><img src='{{base}}{{img.src}}' /></div></li>
        {% endfor %}
      </ul>
    </div>
  {% else if project.images %}
    {% for img in project.images %}
      <div class='img-wrapper'><img src='{{base}}{{img.src}}' /></div>
    {% endfor %}
  {% endif %}

  {% if project.excerpt %}
  {{project.excerpt}}
  <div class='expand'>
      {{project.content | remove: project.excerpt}}
  </div>
  {% else %}
  {{project.content}}
  {% endif %}

  </article>
