{% assign base = site.baseurl %}
{% if forloop.index > 1 %}<hr class='{% unless project.print %}hidden-print {% endunless %}soften' />{% endif %}
{% assign projectId = forloop.index0 %}
{% assign img = project.images | first %}

<article class='{% unless project.print %}hidden-print {% endunless %}project'>
<header>
  <h3>
  {% if project.link %}
    <a href='{{project.link}}'>{{project.title}}</a>
  {% else %}
    {{project.title}}
  {% endif %}
  <small>{{project.date | date:"%B %Y"}}
      {% if project.ongoing %} - Present
      {% elsif project.end_date %} - {{project.end_date | date:"%B %Y"}}
      {% endif %}
  </small></h3>
  
  {% if project.tags %}
    <span class='tags'>
    {% for tech in project.tags %}
      <span class='hide-xs label label-info label-inverse'>{{ tech }}</span>
    {% endfor %}
    </span>
  {% endif %}


  </header>

  {% if project.images.size > 1 %}
    {% include carousel.html %}
    {% elsif project.images %}
    <div class='hide-xs hide-sm carousel'>
      <div class='carousel-inner'>
        <img src='{{base}}{{img.src}}' />
      </div>
    </div>
  {% endif %}

  {% if project.excerpt %}
  {{project.excerpt}}

  {% else %}
  {{project.content}}
  {% endif %}

  </article>
