<ul class='social unstyled clearfix'>
    <li class='twitter'>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{page.url}}" data-text="{{page.title}}" data-via="AdrianRossouw" data-dnt="true">Tweet</a>
    </li>
    <li class='gp'>
      <div class='g-plusone' data-size='medium' data-width='60' data-href='{{page.url}}'></div>
      </li>
    <li class='hn'>
    <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="{{page.title}}" data-url="{{page.url}}">Vote on HN</a>
    </li>
    <li class='reddit'>
    <script type="text/javascript" src="http://www.reddit.com/buttonlite.js?i=2&styled=off&url={{{page.url}}}&newwindow=1">
    </script>
    
    </li>
</ul>
