---
title: Portfolio
layout: default

---

{% capture aboutText %}{% include about.md %}{% endcapture %}
<section class='portfolio col-md-12'>

  <section class='about row'>
    
        <h1 class='col-xs-12 page-title'>Adrian Rossouw <small>Full-Stack Developer</small></h1>
        <div class='col-sm-12 col-md-5'>{{aboutText | markdownify}}
          <ul>
            {% for d in page.links %}
              <li><a href='{{d.value}}'>{{d.field}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <h2 class='col-sm-12 hidden-md hidden-lg'>Contact Details</h2>
        <div class='col-sm-8 col-md-4 col-md-push-3'>
          <table class='table table-condensed'>
            <tbody>
              {% for d in site.data.details %}
                <tr><th>{{d.field}}</th><td>{{d.value}}</td></tr>
              {% endfor %}
              {% for d in site.data.contact %}
                <tr><th>{{d.field}}</th><td>
                  {% if d.link %}<a href='{{d.link}}'>{{d.value}}</a>{% else %}{{d.value}}{% endif %}
                </td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class='hidden-xs col-sm-4 col-md-pull-4 col-md-3'>
            <div class='img-wrapper'>
                <img class='avatar' src='{{site.baseurl}}img/avatar.png' />
            </div>
        </div>

    </section>
 
  <div class='row'>
    <div class='techs col-md-8'>
      <h2>Technologies</h2>
      {% for tech in site.data.skills  %}
        <span class='label label-info label-inverse'>{{ tech }}</span>
      {% endfor %}
    </div>
     <div class='col-md-4 links'>
       <h2>Links</h2>
          <ul class='list-inline'>
              {% for d in site.data.links %}
                <li><a href='{{d.value}}'>{{d.field}}</a></li>
              {% endfor %}
          </ul>
        </div>

  </div>

  <div class='row'>
    <section class='jobs col-md-5 col-md-push-7'>
      <h2>Employment History</h2>
      {% for job in site.categories.job %}
        {% unless job.hide %}
          {% include job.html %}
        {% endunless %}
      {% endfor %}
      </section>
    <section class='col-md-7 col-md-pull-5 projects'>
      <h2>Selected Projects</h2>
      {% for project in site.categories.project %}
        {% unless job.hide %}
          {% include project.html %}
        {% endunless %}
      {% endfor %}
    </section>

  </div>
</section>
