<!DOCTYPE html>
{% assign base = site.baseurl %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% if page.url == '/index.html' %}{{page.title}}{% else %}{{page.title}}{% endif %} | Daemon.co.za</title>
    <meta name="description" content="Online Presence of Adrian Rossouw">
    <meta name="author" content="Adrian Rossouw">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='{{base}}site.css' type='text/css'/>
</head>
<body>

  <div class='container'>
    <header class='page-header'>
      <h1><a href="/">Adrian Rossouw</a> <small>{{page.title}}</small></h1>
    </header>
    <section id='content' class='row'>{{content}}</section>
  </div>
  <script src='{{base}}site.js' type='text/javascript'></script>
</body>
</html>

